* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 690;
  font-style: normal;
}

body,
html {

  background: linear-gradient(rgba(53, 53, 53, 0.1), rgba(53, 53, 53, 0.1)), url('./img/bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffd700;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  cursor: none;
}

:hover {
  cursor: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 40px;
  pointer-events: none;
  background: url("./img/cursor1.png") no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  filter: drop-shadow(0 0 30px rgb(6, 181, 12));
  z-index: 9999;
}


header {
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5rem;
}


.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  border-radius: 25px;
  background: #04ba1a;
  color: #f1f3b8;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
}

.btn:hover {
  background: #023f09;
  color: #d1d645;
  transform: scale(1.05);
}


.home {
  padding: 20px;
}

.home p {
  margin-bottom: 20px;
  font-size: 1.8rem;
}


.campus-map {

  width: 80%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.map-info {
  margin: 15px 0;
  font-size: 1.8rem;
}


.facility-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 15px;
  transition: 0.3s;
}

.card:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 a {
  color: #ffd700;
  text-decoration: none;
}


.facility-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.facility-detail {
  padding: 20px;
}

.facility-detail img {
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* Responsive breakpoints */
@media (max-width: 1024px) {
  .facility-list {
    grid-template-columns: repeat(2, 1fr);
    /* 2 cards per row on tablets */
  }
}

@media (max-width: 600px) {
  .facility-list {
    grid-template-columns: 1fr;
    /* 1 card per row on mobile */
    padding: 15px;
    
  }

  .card img {
    height: 140px;
  }

  .card h3 {
    font-size: 18px;
    text-align: center;
  }

  .backbutton {
    margin-top: 20px;
  }
}


footer {
  margin-top: auto;
  color: #ffd700;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05);
}